In [2]:
%load_ext sql
%sql sqlite:///PS2.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Problem Set #2
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on the class website. Follow the instructions on the file! Upload the file at Canvas (under PS2).


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [12 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [15]:
%sql select city, state, zip from hospital GROUP BY zip LIMIT 20;

 * sqlite:///PS2.db
Done.

[('ALABASTER', 'AL', 35007),
 ('CLANTON', 'AL', 35045),
 ('CULLMAN', 'AL', 35058),
 ('ONEONTA', 'AL', 35121),
 ('SYLACAUGA', 'AL', 35150),
 ('BIRMINGHAM', 'AL', 35205),
 ('BIRMINGHAM', 'AL', 35233),
 ('BIRMINGHAM', 'AL', 35235),
 ('FAYETTE', 'AL', 35555),
 ('HAMILTON', 'AL', 35570),
 ('WINFIELD', 'AL', 35594),
 ('DECATUR', 'AL', 35609),
 ('FLORENCE', 'AL', 35631),
 ('HARTSELLE', 'AL', 35640),
 ('RUSSELLVILLE', 'AL', 35653),
 ('SHEFFIELD', 'AL', 35660),
 ('HUNTSVILLE', 'AL', 35801),
 ('GADSDEN', 'AL', 35901),
 ('GADSDEN', 'AL', 35903),
 ('BOAZ', 'AL', 35957)]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition doesn't hold, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [7 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [9]:
%sql SELECT * FROM Hospital a, Hospital b where a.provider=b.provider AND a.measure_code <> b.measure_code LIMIT 5;

 * sqlite:///PS2.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-1'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-3'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-4'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-5')]

### Part (b) [5 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [14]:
%sql SELECT * FROM Hospital a, Hospital b where a.zip=b.zip AND (a.City <> b.City OR a.State <> b.State);

 * sqlite:///PS2.db
Done.

[]

Problem 2: Superkeys & Decompositions [20 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [4 points]

Is it correct that ${A,B}$ is a superkey?

In [ ]:
answer = True
explanation = "A,B has an attribute closure of {A, B, C, D, E, F} which means A, B is a superkey"

### Part (b) [4 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

In [ ]:
answer = True
explanation = "According to chase algoirhtm, ABC will produce a row without subscript because A->D, A->E, and D->F will drop all subscript"

### Part (c) [4 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

In [ ]:
answer = False
explanation = "There is no FDs in ABC, in CDE there's only D->C, and in EFA there's only A->E. which can't be recovered"

### Part (d) [4 points]

Is the functional dependency $\{A\} \rightarrow \{E,F\}$ logically implied by FDs present in the relation?

In [ ]:
answer = True
explanation = "First we have A -> E, then we apply augmentation which results to A,D -> E, D. Then we have D -> F where we apply reflexivity to get D, E -> E, F.We also have A -> D and use augmentation to get A -> A, D. Then we use transitivity for A, D -> D, E and D, E -> E, F to get A, D -> E, FLastly, we apply transitivity again for A -> A, D and A, D -> E, F to get A -> E, F."

### Part (e) [4 points]

Is it correct that relation $S$ is in BCNF?

In [23]:
answer = False
explanation = "According to the FDs A+ and D+ will not result to trivial or superkey"

Problem 3: Relational Algebra [18 points]
---------

Consider the following relational schema for conference publications:
*  `Article(artid, title, confid, numpages)`
*  `Conference(confid, name, year, location)`
*  `Author(artid, pid)`
*  `Person(pid, name, affiliation)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [4 points]

Output the name of every person affiliated with `UW-Madison` who has submitted an article in 2019.

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person) \bowtie_{Person.pid = Author.pid}(Author) \bowtie_{Author.artid = Article.artid}(Article) \bowtie_{Article.confid = Conference.condfid} \sigma_{year = 2019}(Conference))$$

### Part (b) [5 points]

Output the names of the people who coauthored an article with `John Doe`. Be careful: a person cannot be coauthor with herself!

$$\pi_{name}(\pi_{artid}(\sigma_{name = "John Doe"}(person) \bowtie_{person.pid = author.pid} (author)) \bowtie_{artid} ((\sigma_{name != "John Doe"}(person) \bowtie_{person.pid = author.pid} (author)))$$

### Part (c) [4 points]

Count how many people published an article in the conference `SIGMOD` in 2018, but not in 2019.

$$\gamma_{count(pid)}((\sigma_{name = "SIGMOD"\wedge year = 2018}(conference) \bowtie_{article.confid = conference.confid}(article) \bowtie_{article.artid = author.artid}(author)) - (\sigma_{name = "SIGMOD"\wedge year = 2019}(conference) \bowtie_{article.confid = conference.confid}(article) \bowtie_{article.artid = author.artid}(author))$$

### Part (d) [5 points]

Translate the following SQL query to Relational Algebra.

In [ ]:
%%sql
SELECT pid, COUNT(A.artid)
FROM Article A, Conference C, Author U
WHERE A.confid = C.confid AND C.name = "SIGMOD" AND U.artid = A.artid
GROUP BY pid ;

$$\gamma_{pid,count(article.artid)}(\sigma_{conference.name = "SIGMOD"}(Conference) \bowtie_{conference.confid = article.confid} (Article) \bowtie_{article.artid = author.artid} (Author))$$